<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>index</title>
<style>
.button {
  display: inline-block;
  border-radius: 4px;
  background-color: #e7e7e7; color: black;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 80px;
  width: 800px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 80px;
}

.container{
    float:left;
    position:relative;
    left:20%;
}

.container ul{
    list-style:none;
    margin:0;
    padding:0;

    position:relative;
    left:20%
}

.container li{
    float:left;
    display:inline;
    margin-right:8px

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '»';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
</style>
</head>
<body>

<h2 align="center">Login index</h2>

<form action="{{ url_for('index') }}" method="post">

  <div align="center" class="container" style="background-color:#f1f1f1">
    <button class="button" style="vertical-align:middle"><span><a href="{{url_for('dlogin')}}">Physician </a></span></button>
  </div>

  <div align="center" class="container" style="background-color:#f1f1f1">
    <button class="button" style="vertical-align:middle"><span><a href="{{url_for('plogin')}}">Patient </a></span></button>
  </div>

</form>

</body>
</html>