{%extends "layout.html"%}
  {% block content %}
    <h1>Home</h1>
    {%for post in posts%}
      <h1>{{ post.title }}</h1>

      <p>{{ post.content }}</p>

      <p>by: {{ post.author }} on {{post.date_posted}}</p>

    {%endfor%}
  {% endblock content%}
