<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    {% if title %}
      <title>{{title}}</title>
    {% else %}
      <title> UI_Health</title>
    {%endif%}
  </head>
  <body>
    {% block content %}
    {% endblock content%}
  </body>
</html>
